@charset "utf-8";

* {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

header {
  img {
    vertical-align: bottom;
  }

  .sp-header {
    display: none;
  }

  .pc-header {
    display: block;
  }
}

/* section1 */
.section1 {
  margin: 0 auto;
  background: rgb(253, 241, 217);

  .background {
    padding-top: 50px;
    max-width: 1800px;
  }

  .text-1,
  .text-2 {
    padding: 18px 33px;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 3px;
    margin: 0 auto;

    span {
      color: orange;
    }

  }

  .text-1 {
    transform: rotate(3deg);
    max-width: 680px;
    background: white;
  }

  .text-2 {
    max-width: 700px;
    margin-top: 32px;
    background: white;
  }

  .text-3 {
    max-width: 700px;
    font-size: 1.8rem;
    letter-spacing: 8px;
    margin: 50px auto 0;
    font-weight: bold;
    text-align: center;
  }

  .img {
    margin: 50px auto 0;
    max-width: 250px;
    height: 182px;

  }


  .arrow {
    max-width: 64px;
    height: 80px;
    margin: 50px auto 0;
  }

  .text-4 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    position: relative;

    .text-4-1 {
      border-bottom: 2px solid rgb(76, 144, 247);
      max-width: 400px;
      margin: 0 auto;
      box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    }

    .text-4-2 {
      border-bottom: 2px solid rgb(76, 144, 247);
      max-width: 700px;
      margin: 12px auto 0;
      box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    }




    span {
      font-size: 2.0rem;
    }
  }

  .worries {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 64px auto 0;

    .worries-text {
      width: 65%;

      img {
        display: block;

        &:nth-child(1) {
          max-width: 450px;
          height: 110px;
        }

        &:nth-child(2) {
          max-width: 345px;
          height: 99px;
          margin-left: auto;
          margin-top: 32px;
        }

        &:nth-child(3) {
          max-width: 450px;
          height: 110px;
          margin-top: 32px;
        }
      }

    }

    .worries-img {
      width: 35%;
      margin-top: 64px;
      margin-left: 64px;

      img {
        max-width: 250px;
        height: 220px;
      }
    }
  }
}

.background-triangle {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    background: rgb(253, 241, 217);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

}

.solution {
  max-width: 1440px;
  padding: 200px 12px 0;
  margin: 0 auto;


  .solution-img {
    margin: 12px auto 0;
    max-width: 250px;
    height: 60px;
    position: relative;

    .img-text {
      text-align: center;
      max-width: 250px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  .text-triangle {
    margin: 0 auto 12px;
    max-width: 20px;
    height: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #FF834E;
  }



  p {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }
}

.solution-flex {
  margin-top: 32px;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;

  .item {
    width: 25%;
    margin: 0 auto;

    .text-img {
      width: 300px;
      height: 120px;
      position: relative;
    }

    span {
      color: #FF834E;
      font-weight: bold;
    }

    p {
      width: 90%;
      font-weight: normal;
      font-size: 1.0rem;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .item-triangle {
      width: 20px;
      height: 20px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #ECECEC;
      margin-top: -10px;
      margin-left: 40px;
    }

    .item-img-1 {
      width: 100px;
      height: 105px;
      margin: 0 auto;
    }

    .item-img-2,
    .item-img-3 {
      width: 130px;
      height: 95px;
      margin: 0 auto;
    }
  }
}

.bg {

  .bg-img-1 {
    max-width: 1000px;
    height: 350px;
    margin: 0 auto;
    position: relative;

    img {
      width: 100%;
      height: 350px;
    }
  }

  .bg-text {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 350px;
    align-items: center;
    margin: 0 64px;

    .bg-item-1 {
      margin-right: 32px;
    }

    p {
      text-align: start;
      letter-spacing: 1px;

      &:nth-child(3) {
        margin-top: 32px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        font-size: 20px;
      }

      &:nth-child(1),
      &:nth-child(3) {
        font-size: 18px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        font-weight: normal;
      }
    }

    .img-flex {
      align-items: center;
      display: flex;
    }

    .bg-img-2 {
      width: 100px;
      height: 67px;
      display: inline-block;
    }

    .bg-img-3 {
      width: 350px;
      height: 235px;
    }
  }

  span {

    &:nth-of-type(1) {
      font-size: 25px;
    }

    &:nth-child(2) {
      color: #FF834E;
    }
  }
}

/* section2 */

.section2 {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 64px;
  background: #E4EDF6;
}

.section2-width {
  max-width: 1440px;
}


.strengths {
  background: #E4EDF6;
  padding-top: 64px;

  .st-img {
    width: 250px;
    height: 30px;
    position: relative;
    margin: 0 auto;
  }

  .img-title {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .st-title {
    margin-top: 20px;
  }

  .st-title:nth-child(3) {
    font-size: 48px;
    font-weight: bold;
  }

}

.st-flex {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.st-flex-item {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 64px auto 0;

  &:nth-child(2) {
    flex-direction: row-reverse;
  }


  .st-text {
    flex-direction: column;
    width: 100%;

    p {
      &:nth-child(1) {
        font-size: 28px;
        font-weight: bold;
      }

      &:nth-child(2) {
        font-size: 18px;
        text-align: left;
        letter-spacing: 1px;
        width: 364px;
      }

    }

  }

  .flex-img-1 {
    max-width: 330px;
    height: 265px;
    margin-right: 64px;
  }

  .flex-img-2 {
    width: 330px;
    height: 242px;
    margin-left: 64px;
  }

  .flex-img-3 {
    width: 330px;
    height: 241px;
    margin-right: 64px;
  }
}

/* section3 */
.section3 {
  max-width: 1440px;
  margin: 0 auto;

  span {
    color: #FF834E;
  }
}

.why {
  max-width: 1000px;
  margin: 64px auto;

  p {
    margin-top: 32px;

    &:nth-child(1) {
      font-size: 32px;
      font-weight: bold;
    }
  }
}

.why-flex {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .why-flex-item {
    width: 48%;
    background: #ECECEC;
    border-radius: 10px;
    padding: 32px 32px 18px;
    margin-top: 32px;

    p {

      &:nth-child(1),
      &:nth-child(2) {
        font-weight: bold;
        font-size: 24px;
      }

      &:nth-child(3) {
        margin-top: 18px;
      }
    }
  }

  .why-img-1 {
    width: 220px;
    height: 180px;
    margin: 10px auto 0;
  }

  .why-img-2 {
    width: 280px;
    height: 150px;
    margin: 10px auto 0;

  }

  .why-img-3 {
    width: 280px;
    height: 145px;
    margin: 10px auto 0;

  }

  .why-img-4 {
    width: 200px;
    height: 180px;
    margin: 10px auto 0;

  }

}

/* section4 */
.section4 {
  max-width: 1440px;
}

.comparison {

  margin-top: 100px;

  .comparison-img {
    width: 200px;
    height: 50px;
    position: relative;
    top: 2px;
    margin: 0 auto;
    letter-spacing: 1px;


    .img-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 100%;
      text-align: center;
    }
  }

  .text-triangle {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #FF834E;
    width: 10px;
    height: 10px;
    margin: 0 auto;
  }
}

.comparison-text {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

  .span-1 {
    font-weight: bold;
  }

  .span-2 {
    color: #FF834E;
  }

  p {
    margin-top: 32px;
    line-height: 1.8;

    &:nth-child(1) {
      font-size: 19px;
    }

    &:nth-child(1),
    &:nth-child(3) {
      font-weight: bold;
    }
  }
}

.comparison-tb {
  max-width: 1100px;
  margin: 64px auto;

  table {
    max-width: 1100px;
    border-collapse: collapse;
  }

  th {
    width: 200px;
    height: 100px;
    background: #FFAD4E;
    color: white;
    border: 2px solid white;

    &:nth-child(2) {
      width: 300px;
      height: 100px;
    }
  }

  td {
    width: 200px;
    height: 100px;
    text-align: center;
    border: 2px solid #ECECEC;

    &:nth-child(1) {
      background: #FFD6A6;
      color: #616161;
      border-top: 2px solid white;
    }

    &:nth-child(2) {
      width: 300px;
      height: 100px;
    }

  }
}

/* section5 */
.section5-bg {
  background: rgb(253, 241, 217);
  padding: 100px 0;
  margin: 0 auto;
}

.section5 {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  .triangles {
    display: flex;
    max-width: 12%;
    margin: 0 32px;
    justify-content: space-between;
  }

  .triangle {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 32px solid #FFAD4E;
  }

  .rectangle-bg {
    background: #E1E1E1;
    border-radius: 10px;
    width: 1000px;
    height: 400px;
    position: relative;
    margin: 64px auto 0;
  }

  .rectangle {
    width: 950px;
    height: 350px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px 18px;
  }

  span {
    font-weight: bold;
  }

  .rectangle-text {
    max-width: 500px;
    margin: 0 auto;
    background: linear-gradient(transparent 80%, #FFE880 20%);
  }

  .icon {
    position: absolute;
    width: 80px;
    height: 30px;
    top: -20px;
    left: 10px;
    background: #BEBEBE;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .before {
    background: #EFEFEF;
    position: relative;
    width: 100%;
    height: 170px;
    border-radius: 10px;
    text-align: left;

    .before-text {
      margin-top: 20px;
      padding: 0 18px;
    }

  }

  .after {
    background: #FFEDD8;
    position: relative;
    width: 100%;
    height: 170px;
    border-radius: 10px;
    text-align: left;

    .after-text {
      margin-top: 20px;
      padding: 0 12px;
    }

    .icon {
      background-color: #FF986C;
    }
  }

  .rectangle-flex {
    display: flex;
    align-items: center;
    margin: 55px auto;
    justify-content: center;
  }
}

/* section6 */
.section6 {
  max-width: 1200px;
  height: 630px;
  margin: 100px auto;

  .sp-2 {
    display: none;
  }
}

/* footer */
footer {
  background: #FFF0DF;
  max-width: 1440px;

  .footer-text {
    width: 330px;
    margin: 0 auto;
    font-size: 12px;
    padding: 32px 0;

    p {
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 767px) {

  /* header */
  header {
    .pc-header {
      display: none;
    }

    .sp-header {
      display: block;
    }
  }

  .section1 {

    margin-bottom: 150px;

    .text-1,
    .text-2 {
      font-size: 14px;
      padding: 8px 4px;
      letter-spacing: 2px;
    }

    .text-1 {
      max-width: 330px;
      height: 40px;
    }

    .text-2 {
      width: 350px;
      height: 50px;
      padding: 8px 10px;
    }

    .text-3 {
      font-size: 18px;
      letter-spacing: 5px;
      padding: 0 12px;
    }

    .img {
      max-width: 150px;
      height: 110px;
    }

    .arrow {
      max-width: 30px;
      height: 40px;
    }

    .text-4 {
      font-size: 20px;
      max-width: 265px;
      margin: 0 auto;
      line-height: 2;

      .text-4-1 {
        border: none;
        box-shadow: none;
        margin-top: 32px;
      }

      .text-4-2 {
        border: none;
        box-shadow: none;
        margin: 0;
      }

      span {
        font-size: 20px;
      }
    }

    .worries {
      max-width: 900px;
      display: block;
      padding: 0 24px;

      .worries-text {
        width: 100%;

        img {
          display: block;

          &:nth-child(1) {
            max-width: 320px;
            height: 80px;
          }

          &:nth-child(2) {
            max-width: 300px;
            height: 90px;
            margin-left: auto;
            margin-top: 32px;
          }

          &:nth-child(3) {
            max-width: 350px;
            height: 90px;
            margin-top: 32px;
          }
        }
      }

      .worries-img {
        margin: 64px auto 0;

        img {
          width: 150px;
          height: 131px;
        }
      }

    }

    .background-triangle {
      &::after {
        height: 100px;
      }

    }

  }

  .solution {
    margin: 0 auto;
    max-width: 440px;

    .solution-img {
      .img-text {
        width: 250px;
      }
    }

  }

  .solution-flex {
    display: block;

    .item {
      width: 100%;
      margin: 64px auto 0;
      display: flex;
      align-items: center;

      &:nth-of-type(2) {
        flex-direction: row-reverse;

        .text-img{
          margin-left: 24px;
        }
      }

      .text-img {
        width: 250px;
        height: 90px;
        position: relative;
        margin-right: 24px;

      }


      p {
        font-weight: normal;
        font-size: 14px;
      }

      .item-triangle {
        width: 0px;
        height: 0px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 30px solid #ECECEC;
        position: absolute;
        top: 50%;
        right: -15%;
      }

      .item-img-1 {
        width: 80px;
        height: 85px;
        margin: 0 auto;
      }

      .item-img-2,
      .item-img-3 {
        width: 100px;
        height: 73px;
        margin: 0 auto;
        display: inline-block;
      }
    }
  }

  .item:nth-child(2) .item-triangle {
    width: 0px;
    height: 0px;
    border-left: none;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid #ECECEC;
    position: absolute;
    top: 50%;
    left: -23%;
  }


  .bg-item-2 {
    display: none;
  }

  .bg-img-1 {
    width: 400px;
    height: 350px;
    margin: 0 auto;
  }

  

  .bg {
    min-width: 400px;
    margin: 0 auto;

    .bg-text {
    padding: 0;
    margin: 0;
  }

    .bg-text {
      padding: 0 12px;
      min-width: 100%;

      p {
        line-height: 2;
        letter-spacing: 1px;

        &:nth-child(1),
        &:nth-child(2) {
          font-size: 18px;
        }

        &:nth-child(1),
        &:nth-child(3) {
          font-size: 14px;
        }

        span:nth-child(2) {
          font-size: 18px;
        }
      }

      .img-flex {
        width: 370px;
        margin: 0;
      }

    }
  }

  .bg .bg-img-1 .bg-text .bg-item-1 p:nth-child(2) br {
    display: none;
  }

  .st-flex-item {
    display: block;
  }

  .strengths {

    .st-title {
      margin-top: 10px;
    }

    .st-title:nth-child(3) {
      font-size: 24px;
    }
  }

  .st-flex-item {
    margin: 64px auto 0;
    .flex-img-1 {
      max-width: 230px;
      height: 185px;
      margin: 0;
    }

    .flex-img-2 {
      width: 230px;
      height: 168px;
      margin: 0;
    }

    .flex-img-3 {
      width: 230px;
      height: 168px;
      margin: 0;
    }

    .st-text {
      text-align: left;
      max-width: 364px;

      p {
        &:nth-child(1) {
          font-size: 16px;
        }

        &:nth-child(2) {
          font-size: 14px;
          letter-spacing: 1px;
          margin-top: 18px;
        }
      }
    }
  }

  .why {
    text-align: left;
    padding: 0 32px;
    margin: 0 auto;

    p {
      font-size: 18px;
      letter-spacing: 2px;

      &:nth-child(1) {
        font-size: 18px;
      }
    }
  }

  .why-flex {
    display: block;
    padding: 0 20px;

    .why-flex-item {
      width: 100%;
    }
  }

  .rectangle {
    width: 100%;
  }

  .section5{
    width: 440px;
    margin: 0 auto;
    padding: 0 20px;
    .rectangle-text{
    background: linear-gradient(transparent 90%, #FFE880 50%);
  }
  

  }

  .rectangle-flex {
    flex-direction: column;
  }

  .comparison-text{
    letter-spacing: 1px;
    padding: 0 20px;
  }

  .comparison-tb{
    padding: 0 0 0 100px;
  }

  .wrap{
    overflow-x: auto;
  }

  table{
    min-width: 1140px;
  }

  .section5 {

    h1 {
      font-size: 18px;
    }

    .rectangle-bg {
      height: 750px;
      width: 400px;
      margin: 32px 0;
    }

    .rectangle {
      height: 700px;
      width: 350px;
      margin: 0 auto;
    }

    .triangles {
      flex-direction: column;
    }

    .triangle {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 32px solid #FFAD4E;

      &:nth-of-type(1) {
        margin-top: 30px;
      }

      &:nth-of-type(3) {
        display: none;
      }
    }

    .before {
      .before-text {
        font-size: 16px;
        padding: 0 13px;
      }
    }

    .after {
      width: 344px;

      .after-text {
        font-size: 16px;
        padding: 0 5px 0;
        text-align: left;
      }
    }

    .rectangle-text {
      padding: 0 10px;
      font-size: 18px;
    }


  }

  .section6 {
    margin: 0 0 32px;

    .pc-2 {
      display: none;
    }

    .sp-2 {
      display: block;
    }
  }
}