@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}


.section1 {
  max-width: 1800px;

  .background {
    background: rgb(253, 241, 217);
    padding-top: 50px;
  }

  .text-1,
  .text-2 {
    padding: 18px 33px;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 3px;
    margin: 0 auto;

    span {
      color: orange;
    }

  }

  .text-1 {
    transform: rotate(3deg);
    width: 680px;
    background: white;
  }

  .text-2 {
    width: 700px;
    margin-top: 32px;
    background: white;
  }

  .text-3 {
    width: 700px;
    font-size: 1.8rem;
    letter-spacing: 8px;
    margin: 50px auto 0;
    font-weight: bold;
    text-align: center;
  }

  .img {
    margin: 50px auto 0;
    width: 250px;
    height: 182px;

  }


  .arrow {
    width: 64px;
    height: 80px;
    margin: 50px auto 0;
  }

  .text-4 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    position: relative;

    .text-4-1 {
      border-bottom: 2px solid rgb(76, 144, 247);
      width: 400px;
      margin: 0 auto;
      box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    }

    .text-4-2 {
      border-bottom: 2px solid rgb(76, 144, 247);
      width: 700px;
      margin: 12px auto 0;
      box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    }




    span {
      font-size: 2.0rem;
    }
  }

  .worries {
    max-width: 900px;
    display: flex;
    margin: 64px auto 0;

    .worries-text {
      width: 65%;

      img {
        display: block;

        &:nth-child(1) {
          width: 450px;
          height: 110px;
        }

        &:nth-child(2) {
          width: 345px;
          height: 99px;
          margin-left: auto;
          margin-top: 32px;
        }

        &:nth-child(3) {
          width: 450px;
          height: 110px;
          margin-top: 32px;
        }
      }

    }

    .worries-img {
      width: 35%;
      margin-top: 64px;
      margin-left: 64px;

      img {
        width: 250px;
        height: 220px;
      }
    }
  }
}

.background-triangle {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    background: rgb(253, 241, 217);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

}

.solution {
  max-width: 1800px;
  padding-top: 200px;


  .solution-img {
    margin: 12px auto 0;
    width: 250px;
    height: 60px;
    position: relative;

    .img-text {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  .text-triangle {
    margin: 0 auto 12px;
    width: 20px;
    height: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #FF834E;
  }



  p {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }
}

.solution-flex {
  margin-top: 32px;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;

  .item {
    width: 25%;
    margin: 0 auto;

    .text-img {
      width: 300px;
      height: 120px;
      position: relative;
    }

    span {
      color: #FF834E;
      font-weight: bold;
    }

    p {
      width: 90%;
      font-weight: normal;
      font-size: 1.0rem;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .item-triangle {
      width: 20px;
      height: 20px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #ECECEC;
      margin-top: -10px;
      margin-left: 40px;
    }

    .item-img-1 {
      width: 100px;
      height: 105px;
      margin: 0 auto;
    }

    .item-img-2,
    .item-img-3 {
      width: 130px;
      height: 95px;
      margin: 0 auto;
    }
  }
}

.bg {

  .bg-img-1 {
    width: 1000px;
    height: 350px;
    margin: 0 auto;
    position: relative;

    img {
      width: 100%;
      height: 350px;
    }
  }

  .bg-text {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    padding: 64px;
    align-items: center;

    .bg-item-1 {
      margin-right: 32px;
    }

    p {
      text-align: start;

      &:nth-child(3) {
        margin-top: 32px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        font-size: 1.4rem;
      }

      &:nth-child(1),
      &:nth-child(3) {
        font-size: 1.2rem;
      }

      &:nth-child(3),
      &:nth-child(4) {
        font-weight: normal;
      }
    }

    .img-flex {
      display: flex;
      align-items: center;
    }

    .bg-img-2 {
      width: 100px;
      height: 67px;
      display: inline-block;
    }

    .bg-img-3 {
      width: 350px;
      height: 235px;
    }
  }

  span {

    &:nth-child(1) {
      font-size: 2rem;
    }

    &:nth-child(2) {
      color: #FF834E;
    }
  }
}