@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}


.section1 {
  max-width: 1800px;

  .background {
    background: rgb(253, 241, 217);
    padding-top: 50px;
  }

  .text-1,
  .text-2 {
    padding: 18px 33px;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 3px;
    margin: 0 auto;

    span {
      color: orange;
    }

  }

  .text-1 {
    transform: rotate(3deg);
    width: 680px;
    background: white;
  }

  .text-2 {
    width: 700px;
    margin-top: 32px;
    background: white;
  }

  .text-3 {
    width: 700px;
    font-size: 1.8rem;
    letter-spacing: 8px;
    margin: 50px auto 0;
    font-weight: bold;
    text-align: center;
  }

  .img {
    margin: 50px auto 0;
    width: 250px;
    height: 182px;

  }


  .arrow {
    width: 64px;
    height: 80px;
    margin: 50px auto 0;
  }

  .text-4 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    position: relative;

    .text-4-1 {
      border-bottom: 2px solid rgb(76, 144, 247);
      width: 400px;
      margin: 0 auto;
      box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    }

    .text-4-2 {
      border-bottom: 2px solid rgb(76, 144, 247);
      width: 700px;
      margin: 12px auto 0;
      box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    }




    span {
      font-size: 2.0rem;
    }
  }

  .worries {
    max-width: 900px;
    display: flex;
    margin: 64px auto 0;

    .worries-text {
      width: 65%;

      img {
        display: block;

        &:nth-child(1) {
          width: 450px;
          height: 110px;
        }

        &:nth-child(2) {
          width: 345px;
          height: 99px;
          margin-left: auto;
          margin-top: 32px;
        }

        &:nth-child(3) {
          width: 450px;
          height: 110px;
          margin-top: 32px;
        }
      }

    }

    .worries-img {
      width: 35%;
      margin-top: 64px;
      margin-left: 64px;

      img {
        width: 250px;
        height: 220px;
      }
    }
  }
}

.background-triangle {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    background: rgb(253, 241, 217);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

}

.solution {
  max-width: 1800px;
  padding-top: 200px;


  .solution-img {
    margin: 12px auto 0;
    width: 250px;
    height: 60px;
    position: relative;

    .img-text {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  .text-triangle {
    margin: 0 auto 12px;
    width: 20px;
    height: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #FF834E;
  }



  p {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }
}

.solution-flex {
  margin-top: 32px;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;

  .item {
    width: 25%;
    margin: 0 auto;

    .text-img {
      width: 300px;
      height: 120px;
      position: relative;
    }

    span {
      color: #FF834E;
      font-weight: bold;
    }

    p {
      width: 90%;
      font-weight: normal;
      font-size: 1.0rem;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .item-triangle {
      width: 20px;
      height: 20px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #ECECEC;
      margin-top: -10px;
      margin-left: 40px;
    }

    .item-img-1 {
      width: 100px;
      height: 105px;
      margin: 0 auto;
    }

    .item-img-2,
    .item-img-3 {
      width: 130px;
      height: 95px;
      margin: 0 auto;
    }
  }
}

.bg {

  .bg-img-1 {
    width: 1000px;
    height: 350px;
    margin: 0 auto;
    position: relative;

    img {
      width: 100%;
      height: 350px;
    }
  }

  .bg-text {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    padding: 64px;
    align-items: center;

    .bg-item-1 {
      margin-right: 32px;
    }

    p {
      text-align: start;

      &:nth-child(3) {
        margin-top: 32px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        font-size: 1.4rem;
      }

      &:nth-child(1),
      &:nth-child(3) {
        font-size: 1.2rem;
      }

      &:nth-child(3),
      &:nth-child(4) {
        font-weight: normal;
      }
    }

    .img-flex {
      display: flex;
      align-items: center;
    }

    .bg-img-2 {
      width: 100px;
      height: 67px;
      display: inline-block;
    }

    .bg-img-3 {
      width: 350px;
      height: 235px;
    }
  }

  span {

    &:nth-child(1) {
      font-size: 2rem;
    }

    &:nth-child(2) {
      color: #FF834E;
    }
  }
}

/* section2 */

.section2 {
  text-align: center;
  max-width: 1440px;
  background: #E4EDF6;
  margin-top: 50px;
  padding-bottom: 64px;
}

.strengths {
  background: #E4EDF6;
  padding-top: 64px;

  .st-img {
    width: 250px;
    height: 30px;
    position: relative;
    margin: 0 auto;
  }

  .img-title {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .st-title {
    margin-top: 20px;
  }

  .st-title:nth-child(3) {
    font-size: 48px;
    font-weight: bold;
  }

}

.st-flex {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.st-flex-item {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 64px auto 0;

  &:nth-child(2) {
    flex-direction: row-reverse;
  }


  .st-text {
    display: flex;
    flex-direction: column;

    p {
      &:nth-child(1) {
        font-size: 28px;
        font-weight: bold;
      }

      &:nth-child(2) {
        font-size: 18px;
        text-align: left;
        width: 364px;
        letter-spacing: 1px;
      }

    }

  }

  .flex-img-1 {
    width: 330px;
    height: 265px;
    margin-right: 64px;
  }

  .flex-img-2 {
    width: 330px;
    height: 242px;
    margin-left: 64px;
  }

  .flex-img-3 {
    width: 330px;
    height: 241px;
    margin-right: 64px;
  }
}

/* section3 */
.section3 {
  max-width: 1440px;
  margin: 0 auto;

  span {
    color: #FF834E;
  }
}

.why {
  width: 1000px;
  margin: 64px auto;

  p {
    margin-top: 32px;

    &:nth-child(1) {
      font-size: 32px;
      font-weight: bold;
    }
  }
}

.why-flex {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .why-flex-item {
    width: 48%;
    background: #ECECEC;
    border-radius: 10px;
    padding: 32px 32px 18px;
    margin-top: 32px;

    p {

      &:nth-child(1),
      &:nth-child(2) {
        font-weight: bold;
        font-size: 24px;
      }

      &:nth-child(3) {
        margin-top: 18px;
      }
    }
  }

  .why-img-1 {
    width: 220px;
    height: 180px;
    margin: 10px auto 0;
  }

  .why-img-2 {
    width: 280px;
    height: 150px;
    margin: 10px auto 0;

  }

  .why-img-3 {
    width: 280px;
    height: 145px;
    margin: 10px auto 0;

  }

  .why-img-4 {
    width: 200px;
    height: 180px;
    margin: 10px auto 0;

  }

}

/* section4 */

.comparison {

  margin-top: 100px;

  .comparison-img {
    width: 200px;
    height: 50px;
    position: relative;
    top: 2px;
    margin: 0 auto;
    letter-spacing: 1px;

    
    .img-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      width: 100%;
      text-align: center;
    }
  }

    .text-triangle {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 10px solid #FF834E;
      width: 10px;
      height: 10px;
      margin: 0 auto;
    }
}

.comparison-text{
  width: 1000px;
  margin: 0 auto;
  text-align: center;

  .span-1{
    font-weight: bold;
  }

  .span-2{
    color: #FF834E;
  }

  p{
    margin-top: 32px;
    line-height: 1.8;

    &:nth-child(1){
      font-size: 19px;
    }

    &:nth-child(1),&:nth-child(3){
      font-weight: bold;
    }
  }
}

.comparison-tb{
  max-width: 1100px;
  margin: 64px auto;

  table{
    max-width: 1100px;
    border-collapse: collapse;
  }

  th{
    width: 200px;
    height: 100px;
    background: #FFAD4E;
    color: white;
    border: 2px solid white;

    &:nth-child(2){
      width: 300px;
      height: 100px;
    }
  }

  td{
    width: 200px;
    height: 100px;
    text-align: center;
    border: 2px solid #ECECEC;

      &:nth-child(1){
      background: #FFD6A6;
      color: #616161;
      border-top: 2px solid white;
    }

    &:nth-child(2){
      width: 300px;
      height: 100px;
    }

  }
}

/* section5 */
.section5-bg{
  background: rgb(253, 241, 217);
  padding-top: 100px;
}

.section5{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

  h1{
    font-size: 32px;
    font-weight: bold;
  }

  .triangles{
    display: flex;
    width: 12%;
    margin: 0 32px;
    justify-content: space-between;
  }

  .triangle{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 32px solid #FFAD4E;
  }

  .rectangle-bg{
    background: #E1E1E1;
    border-radius: 10px;
    height: 400px;
    position: relative;
    margin-top: 64px;
  }

  .rectangle{
    width: 950px;
    height: 350px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 32px 18px;
  }

  span{
    font-weight: bold;
  }

  .rectangle-text{
    width: 500px;
    margin: 0 auto;
    background: linear-gradient(transparent 80%,#FFE880 20%);
  }

  .icon{
    position: absolute;
    width: 80px;
    height: 30px;
    top: -20px;
    left: 10px;
    background: #BEBEBE;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .before{
    background: #EFEFEF;
    position: relative;
    width: 37%;
    height: 170px;
    border-radius: 10px;
    text-align: left;

    .before-text{
      margin-top: 20px;
      padding: 0 18px;
    }

  }

  .after{
    background: #FFEDD8;
    position: relative;
    width: 39%;
    height: 170px;
    border-radius: 10px;
    text-align: left;

    .after-text{
      margin-top: 20px;
      padding: 0 12px;
    }

    .icon{
      background-color: #FF986C;
    }
  }

  .rectangle-flex{
    display: flex;
    align-items: center;
    margin: 55px auto;
    justify-content: center;
  }
}